body {background-color: #ffffff;padding: 35px}
h1 {text-align: center; color: #27006f;}
h2 {text-align: left; color: #27006f;}
h3 {text-align: left; color: #27006f;}
p {text-align: justify; color: #27006f; text-indent:40px;}
dl {text-align: left; color: #27006f;}
dt {text-align: left; color: #27006f;}
dd {text-align: left; color: #27006f;}
a {color: #27006f;}
img {max-width: 100%;
    display: block;
    height: auto; 
    margin-left: auto;
    margin-right: auto;}
iframe {display: block; margin-left: auto; margin-right: auto;}
figcaption {text-align:center; color: #27006f; margin-left:25%; margin-right:25%;}
blockquote {text-align: justify; color: #27006f;margin: 80px;}
math {text-align: center; color: #27006f;margin: 80px; font-size:21px;} 
address {text-align:center;}
form {text-align:center;}