body {background-color: #ffffff;padding: 35px}
h1 {text-align: center; color: #27006f;}
h2 {text-align: left; color: #27006f;}
h3 {text-align: left; color: #27006f;}
p {text-align: justify; color: #27006f; text-indent:40px;}
dl {text-align: left; color: #27006f;}
dt {text-align: left; color: #27006f;}
dd {text-align: left; color: #27006f;}
a {color: #27006f;}
img {max-width: 100%;
    display: block;
    height: auto; 
    margin-left: auto;
    margin-right: auto;}
iframe {display: block; margin-left: auto; margin-right: auto;}
figcaption {text-align:center; color: #27006f; margin-left:15%; margin-right:15%;} 
/* the margins on this make it hard to read on small screens. Remove the margins on small screens.*/
@media screen and (max-width: 500px) {
    figcaption {margin-left:0%; margin-right:0%;} 
}
blockquote {text-align: justify; color: #27006f;margin: 80px;}
math {text-align: center; color: #27006f;margin: 80px; font-size:21px;} 
address {text-align:center;}
form {text-align:center;}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}




/*Basic Sidebar Navigation*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.sidebarh1{
  float:left;
  font-size:30px;
  cursor:pointer;
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

